{{- if .Values.controller.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "workload-variant-autoscaler.clusterResourceName" . }}-metrics-reader
  labels:
    {{- include "workload-variant-autoscaler.labels" . | nindent 4 }}
rules:
- nonResourceURLs:
  - "/metrics"
  verbs:
  - get
{{- end }}
