apiVersion: v1
kind: Service
metadata:
  name: {{ include "workload-variant-autoscaler.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    {{- include "workload-variant-autoscaler.labels" . | nindent 4 }}
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    control-plane: controller-manager
    {{- include "workload-variant-autoscaler.selectorLabels" . | nindent 4 }}
